h1 {
  margin: 10px;
}

h2 {
  margin: 5px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(147, 173, 24);
}

.main-logo-image{
  width: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(147, 173, 24);
}

.container a{
  width: 15%;
  height: 30px;
  border: solid 2px;
  border-radius: 99999px;
  border-color: rgb(110, 132, 21);
  background-color: rgb(147, 173, 24);
  color: #FFFF;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 5px;
}

label {
  color: black;
}

label:not([class^="Mui"]) {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}

.center {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 45%;
  height: 30px;
  border: solid 2px;
  border-radius: 99999px;
  border-color: rgb(110, 132, 21);
  background-color: rgb(147, 173, 24);
  color: #FFFF;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiDataGrid-row.odd {
  background-color: #f9f9f9;
}

.modal{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: rgb(147, 173, 24);
}